body {
   font-family:'Roboto', sans-serif;
   min-height: 100vh;

   display: flex;
   flex-direction: column;
   margin: 0px;
}

ul,
a{
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-left: 10px;
}

.header > ul {
    display: flex;
    gap: 15px;
}

.header,
.first-body{
    background-color: rgb(178, 204, 226);
}

.first-body {
    display: flex;
    justify-content: center;
    padding: 100px;
    flex-wrap: wrap;

    gap: 20px;
}

.front-image {
    align-self: center;
    width: 180px;
}


.container {
    flex: 0 1 200px;
    min-width: 200px;
}

.instagram {
    width: 50px;
}

.img > img {
    width: 300px;
    border-radius: 50px;
    border: 4px solid black;
}

.fourimages {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
}

.img {
    text-align: center;    
}

.second-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote{
    text-align: center;
    margin: 40px;
}

.quote > h3,
.quote > p{
    margin: 0px;
    padding: 0%;
}

.ad {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;

    padding: 50px;
    background-color: aliceblue;
}
.ad.button {
    margin: 50px;
    padding: 10px;
    border-radius: 5px;
}
.ad.text {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: lightgrey;
    padding-left: 10px;
}